
name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setting up Environment...
        run:  |
          pip install uv
          uv sync
      
      - name: Running tests
        run: uv run pytest --cov=black_portfolio --cov-report=term-missing .\tests\

      - name: Check code formatting with Black
        run: |
          uv run black --check --diff black_portfolio/ tests/